.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgb(62, 62, 62);
  min-height: 100vh;
}

.blocks{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 45%;
  aspect-ratio : 1 / 1;
  /* overflow:hidden; */

}

.block{
  background-color: white;
  /* border: solid blue; */
  resize: both;
  width: 33.33333% !important;
  height: 33.33333% !important;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 1px black solid;
  position: relative;
  
}

.block>span{
  position:absolute;
  font-size: calc((100vw - 1rem) / 6);
  color: red;
  font-weight: bold;
}

.block::after{
  content:'';
  z-index: 1000;
  display: none;
  background: black;
  position: absolute;
  height: 15px;
}

.block.horizontal::after{
  display: block;
  width:110%;
}
.block.vertical::after{
  display: block;
  rotate: 90deg;
  width:110%;
}
.block.diagonal1::after{
  display: block;
  rotate:45deg;
  width:150%;
}
.block.diagonal2::after{
  display: block;
  rotate:135deg;
  width:150%;
}

.block:hover{
  background-color: rgb(242, 241, 241);
}


.restart-button{
  border-radius: 6px;
  margin-top: 2rem;
  background-color: green;
  color:white;
  font-weight: bold;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}


.winner{
  font-weight: bold;
  font-size: 4rem;
  background: linear-gradient(to right,rgb(97, 220, 97),rgb(46, 187, 46),rgb(6, 90, 6));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.winner-icon{
  font-size: 4rem;
}

.broken-game{
  font-weight: bold;
  font-size: 4rem;
  color: red;
}


@keyframes color-change {
  0% { color: red; }
  50% { color: rgb(33, 210, 33); }
  100% { color: blue; }
}
.animated-winner > span{
  animation: color-change .5s infinite;
}

.winner-div{
  text-align: center;
  margin-bottom: 2rem;
}